// DECLARACION DE VARIABLES
@use "variables" as *;

// ESTADOS
$states: (
  hover: 0.85,
  disabled: 0.5,
  focus: 1
);

// COLORES
$colors: (
  primary:   #a2c4f2,
  secondary: #f2b5d4,
  success:   #b8d8c2,
  warning:   #f4c7a1,
  danger:    #f2a7a7,
  info:      #b7dce5,
  light:     #fdfcfa,
  dark:      #2f2f2f
);



// BREAKPOINTS
$breakpoints : (
sm : $breakpoint-sm,
md : $breakpoint-md,
lg : $breakpoint-lg,
xl : $breakpoint-xl
);

// SPACING SCALE
$spacings: (
  xs: $spacing-base * 0.25,
  sm: $spacing-base * 0.5,
  md: $spacing-base,
  lg: $spacing-base * 1.5,
  xl: $spacing-base * 3
);