// LLAMADO A VARIABLES, MAPS Y FUNCIONES

@use "variables" as *;
@use "maps" as *;
@use "functions" as *;


// CENTRADO DE ELEMENTOS
@mixin center {
    display : flex;
    justify-content : center;
    align-items : center;
}

// MEDIA QUERIES
@mixin respond($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

// ESTADOS (HOVER, FOCUS, DISABLED)
@mixin state($state) {
  @if $state == hover {
    &:hover {
      filter: brightness(map-get($states, hover));
    }
  }

  @if $state == focus {
    &:focus {
      outline: none;
      filter: brightness(map-get($states, focus));
    }
  }

  @if $state == disabled {
  &:disabled {
    opacity: map-get($states, disabled);
    pointer-events: none;
  }
}
}

// CONFIGURACIÓN DE LOS BOTONES
@mixin button($color-name) {
  background-color: color($color-name);
  color: color(dark);

  border: none;
  border-radius: $radius-md;
  padding: space(sm) space(md);
  cursor: pointer;
  text-decoration: none;

  font-family: $font-stack;
  font-size: type-scale(0);
  font-weight: 500;

  transition: filter 0.2s ease, opacity 0.2s ease;

  @include state(hover);
  @include state(focus);
  @include state(disabled);
}