@use "../abstract/functions" as *;
@use "../abstract/maps" as *;
@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;
@use "sass:map";

.grid{
    display : grid;
    gap : map.get($spacing, md);
    grid-template-columns: 1fr;

    @include respond(md){
        &.grid--2{
        grid-template-columns: repeat(2, 1fr);
    }
    }
    
}