@use '../abstract/mixins' as *;
@use '../abstract/maps' as *;
@use '../abstract/variables' as *;
@use "sass:map";
@use '../abstract/functions' as *;
// BUTTONS

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: space(sm) space(md);
  border-radius: $radius-md;
  border: none;

  font-family: $font-family-base;
  font-size: type-scale(0);
  font-weight: 500;

  background-color: get-color(primary);
  color: get-color(dark);

  cursor: pointer;
  text-decoration: none;

  transition: filter 0.2s ease, opacity 0.2s ease;

  @include state(hover);
  @include state(focus);
  @include state(disabled);
}

// VARIANTES

.button--primary {
  background-color: get-color(primary); 
}

.button--secondary {
  background-color: get-color(secondary);
}

.button--success {
  background-color: get-color(success);
}

.button--warning {
  background-color: get-color(warning);
}

.button--danger {
  background-color: get-color(danger);
}
