@use '../abstract/mixins' as *;
@use '../abstract/maps' as *;
@use '../abstract/variables' as *;
@use "sass:map";
@use "sass:color";
@use '../abstract/functions' as *;


.cards-layout{
    @include center;
    gap: space(md);
    background-color: get-color(light);
    border: 1px solid color.adjust(map.get($colors, dark), $lightness: 70%);
    border-radius: $radius-md;
    padding: space(md);
    box-shadow: 0 2px 4px rgba(map.get($colors, dark), 0.05);
    transition: box-shadow 0.2s ease, transform 0.2s ease;

    &__title {
    font-size: type-scale(1);
    font-weight: 600;
    margin-bottom: space(xs);
    color: get-color(dark);
  }

  &__subtitle {
    font-size: type-scale(0);
    font-weight: 400;
    margin-bottom: space(sm);
    color: color.adjust(map.get($colors, dark), $lightness: 60%);
  }

  &__content {
    font-size: type-scale(0);
    color: get-color(dark);
  }

}
